/* TOP PAGE */
.topPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.topImage {
  width: 500px;
}
/* BOTTOM PAGE */
.bottomPage {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 15px;
}
/* TOP TEXT */
.topText {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.topText__img {
  width: 100px;
  margin-bottom: 10px;
}
.topText__text {
  color: #231F20;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
.topText__text-h2 {
  font-size: 80px;
  font-weight: 800;
  text-transform: Uppercase;
  text-shadow: 2px 2px 4px rgba(35, 31, 32, 1);
}
.topText__text-h1 {
  color: #fcbb23;
  font-size: 140px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: -25px;
}
.topText__text-p {
  width: 380px;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
}
/* BOTTOM PAGE */
.bottomPage {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 15px;
}
/* BOTTOM CARDS */
.card {
  width: 100px;
  padding: 0px;
  margin: 0px;
  margin-right: 18px;
  background-color: transparent;
}
.card__img {
  width: 100px;
  rotate: 320deg;
  z-index: -1;
  border: 2px solid #fcbb23;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}
/* FOOTER */
.footer {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0;
  position: absolute;
  gap: 15px;
}
.footer__div {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer__rs {
  width: 30px;
  height: 30px;
}
.footer__p {
  color: #231F20;
  font-weight: 800;
}