/* TOP TEXT */
.topText {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.topText__img {
  width: 100px;
  margin-bottom: 10px;
}
.topText__text {
  color: #231F20;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
.topText__text-h2 {
  font-size: 80px;
  font-weight: 800;
  text-transform: Uppercase;
  text-shadow: 2px 2px 4px rgba(35, 31, 32, 1);
}
.topText__text-h1 {
  color: #fcbb23;
  font-size: 140px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: -25px;
}
.topText__text-p {
  width: 380px;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
}
/* BOTTOM CARDS */
.card {
  width: 100px;
  padding: 0px;
  margin: 0px;
  margin-right: 18px;
  background-color: transparent;
}
.card__img {
  width: 100px;
  rotate: 320deg;
  z-index: -1;
  border: 2px solid #2ff6fb;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}