@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  font-family: 'Big Shoulders Display', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}
/* Para navegadores basados en webkit, como Chrome o Safari */
::-webkit-selection {
  background-color: #fcbb23;
}
::selection {
  background-color: #231F20;
  color: #fcbb23;
}
